body{
    background-color: rgb(67, 60, 126);
    margin:0;
}

header h2{
    display: flex;
    align-items:flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px ;
  }
  
  .menu-categorias {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    padding: 25px; 
    width: 30px;
  }
  
  .traco {
    background-color: black;
    border-radius: 30px;
    display: block;
    height: 3px;
    margin: 4.25px 0;
    width: 100%;
  }
  
  .traco-1, .traco-3 {
     transform-origin: right center;  
  }
  
  .menu-categorias.ativo .traco-1 {
    transform: rotateZ(-45deg); 
  }
  
  .menu-categorias.ativo .traco-2 {
    opacity: 0;
  }
  
  .menu-categorias.ativo .traco-3 {
    transform: rotateZ(45deg);
  }
  
  .nav-menu-categorias {
    align-items: center;
     /* display: none;  */
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    transform: translateX(-100%);
  }
  
  .visivel {
    transform: translateX(0);
  }
/* Fim do menu de categorias */

.container-img{
    display: flex;
    justify-content: center;
    position: relative;
}
img{
    width: 200px;
    height: 400px ;
    border: 2px solid black;
    border-radius: 10px;
}
.img1{
    position: absolute;
    z-index: 7;
}

.img2{
    position: absolute;
    z-index: 6;
}
.img3{
    z-index: 5;
    position: absolute;
}
.img4{
    z-index: 4;
    position: absolute;
}
.img5{
    z-index: 1;
    position: absolute;
}
.img6{
    z-index: 1;
    position: absolute;
}
.img7{
    z-index: 1;
    position: absolute;
}
